body {
  position: relative;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  background-color: #f5f5f5;
  color: #212121;
}
html {
  line-height: 13px;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}
body {
  line-height: 1.53rem;
  font-size: 1rem;
}
*:before, *:after {
    box-sizing: border-box;
}
.login-page .block-title img , .forgotpassword-page .block-title img , .registration-page .block-title img {
    margin:0 auto;
    float: none;
    text-align: center;
    display: block;
    width: 100px;
}
.block-customer-login{
    box-shadow: 0px 0px 20px -3px #ebebf5;
    padding: 56px !important;
    margin: 80px auto;
    float: none !important;
    background: #fff;
    min-width: auto !important;
}
.login-page .new_user .field , .forgotpassword-page .new_user .field , .registration-page .new_user .field {
    position: relative;
    margin-bottom: 20px;
}
.login-page .new_user .field img , .forgotpassword-page .new_user .field img , .registration-page .new_user .field img{
    position: absolute;
    top: 10px;
    left: 10px;
}
.login-page .field label {
    font-weight: 400;
    vertical-align: middle;
}
.login-page .new_user .field .highlight , .forgotpassword-page .new_user .field .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
.block-customer-login input[type="email"] , .block-customer-login input[type="password"] , .block-customer-login input[type="text"] {
    min-width: auto !important;
    max-width: 100%;
    padding: 0 40px !important;
    height: 40px;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}
.login-page .new_user .field .bar:after , .login-page .new_user .field .bar:before , .forgotpassword-page .new_user .field .bar:before , .forgotpassword-page .new_user  .field .bar:after  , .registration-page .new_user  .field .bar:before , .registration-page .new_user  .field .bar:after{
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    background: #408dea;
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all;
}
.block-customer-login .field input:focus {
    outline: none;
    box-shadow: 0 0;
    border: 1px solid #408dea;
    border-bottom: 0 !important;
}
.block-customer-login .field input:focus ~ .bar:before  , .block-customer-login .field input:focus ~ .bar:after {
  width: 50%;
  -webkit-width: 50%;
}
.login-page .new_user .field .bar:before , .forgotpassword-page .new_user .field .bar:before , .registration-page .new_user .field .bar:before{
    left: 50%;
}
.login-page .new_user .field .bar:after , .forgotpassword-page .new_user .field .bar:after , .registration-page .new_user .field .bar:after{
    right: 50%;
}
.login-page .new_user .field .bar , .forgotpassword-page .new_user .field .bar , .registration-page .new_user .field .bar {
    position: relative;
    display: block;
}
.block-customer-login h2.login-header {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 30px 0;
}
.login-btn input[type="submit"] , .forgotpassword-page input[type="submit"] , .registration-page input[type="submit"]{
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 !important;
    width: 100% !important;
    border-radius: 4px;
    background: #EDC041;
    color: #fff;
    border: 0;
    min-height: 42px;
}
.login-btn input[type="submit"]:hover , .forgotpassword-page input[type="submit"]:hover , .registration-page input[type="submit"]:hover {
    background: #dba614;
}
.login_or_create {
    clear: both;
    padding: 10px 0px;
    margin: 0 auto;
    float: none;
    text-align: center;
    position: relative;
}
.login_or_create:before {
    content: "";
    position: absolute;
    height: 1px;
    border-top: 2px solid #e8e8e8;
    top: 20px;
    width: 70px;
    left: 55%;
}
.login_or_create:after {
    content: "";
    position: absolute;
    height: 1px;
    border-top: 2px solid #e8e8e8;
    top: 20px;
    width: 70px;
    right: 55%;
}
.login-page a:hover , .forgotpassword-page a:hover , .registration-page a:hover{
  background: transparent;
}
.left-content , .right-content {
  display: inline-block;
  margin: 10px 0;
}
.left-content {
  float: left; 
}
.right-content {
  float: right;
}
.left-content a , .right-content a {
  color: #39739b !important;
  font-weight: 600;
}
.login-page .left-content  a:hover , .login-page .right-content a:hover , .forgotpassword-page a:hover , .registration-page a:hover {
  color: #4e7b39;
  text-decoration: none;
}
.field_with_errors {
  display: block !important;
}
::-webkit-input-placeholder { /* Chrome */
    color: #c2c7cd!important;
}
#error_explanation {
  width: 100% !important;
}
.footer .facebook-footer {
  margin:0 10px;
}
.footer .facebook-footer:hover{
  background: transparent;
}
.footer span a{
  padding:0 10px;
  color: #edc041;
  border-right:1px solid #eee;
  text-decoration: none;
}
.footer span a:last-child {
  border-right:none;
}
.footer span a:hover {
  color: #000;
  background: transparent;
}
.st-content-inner {
  overflow-y: auto;
}
/*** Responsive Design ***/
@media (max-width: 1060px) and (min-width: 768px){
  .navbar .container-fluid .navbar-right{
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .navbar .container-fluid .navbar-right li{
    float: none;
    display: inline-block;
  }
  .navbar-form{
    float: right !important;
  }
}
@media (max-width: 991px) and (min-width: 768px){
  .block-customer-login.forgot-page{
    padding: 35px !important;
    min-height: 350px !important;
  }
}
@media (max-width: 520px) {
  .block-customer-login h2.login-header {
    font-size: 14px;
  }
  .forgotpassword-page .new_user input[type="submit"] {
    font-size: 10px;
  }
  .block-customer-login.login-mainpage {
    padding: 12px !important;
    min-height: 480px !important;
  }
  .block-customer-login.signup-page {
    padding: 12px !important;
    min-height: 480px !important;
  }
}
@media (max-width: 419px) and (min-width: 319px){
  .block-customer-login.forgot-page {
    padding: 12px !important;
    min-height: 420px !important;
  }
}