<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <meta name="referrer" content="no-referrer" /> -->
  <link rel="stylesheet" media="all" href="/css/fonts/proxima/fonts.css">
  <link rel="stylesheet" media="all" href="/css/fonts/dkotago/font.css">
  <link rel="stylesheet" href="/css/vendor/assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/css/vendor/assets/stylesheets/owl.carousel.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
  <link href="bundle.css" rel="stylesheet">
  <link href="/css/vendor/main.css" rel="stylesheet" />
  <link href="/css/vendor/style.css" rel="stylesheet" />
  <link href="/css/vendor/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
  <link href="/css/fonts/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/newtheme/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/newtheme/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/newtheme/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/newtheme/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/newtheme/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/newtheme/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/newtheme/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/newtheme/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/newtheme/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/newtheme/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/newtheme/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/newtheme/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/newtheme/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/newtheme/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/newtheme/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>Wellmet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/css/vendor/assets/javascripts/datetimepicker.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxPXhX7mtb3M6eQxWc9qBqPcZj_YLqnY0&libraries=places"></script>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="bundle.js"></script>
  <script src="/css/vendor/assets/javascripts/requestAnimationFrame.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
